$bg: #eef1f3;
$button: #0674ec;
$text: #333333;
$border: #dcdcdc;
$info: #555;
$bgGray: #eff1f5;
$arrow: #7347c1;
$btn: #f1f3f6;
$btntext: #868c96;
$line: #ececec;
$bgshop: #f6f7fb;
$color: #747b86;
$green: #009688;
$price: #e6f1fd;
$blue: #3c6490;